
.navbar {
    float: right;
}

.about_section {
    bottom: 50px;
    width: 100%;
    height: calc(100% - 50px);
    border: none;
}

footer {
    position: relative;
    float: right;
    margin: 20px;
    bottom: 0;
    width: 20%;
    align-items: start;
    flex-direction: column;
    display: flex;
    background-color: #ccc;
}