*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin-top: 0px;
    padding: 0px;
    font-family: poppins;
}
/* -------------------blog----------------------- */
#blog{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
/* -----Blog Heading----- */
.blog-heading{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}
/* .blog-heading span{
    color: blue;
} */