.navbar img {
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.05));
}

.navbar {
    font-weight: 600;
    font-size: 24px;
    background: hsla(255, 86%, 67%, 1);
    background: radial-gradient(circle, hsla(255, 86%, 67%, 1) 0%, hsla(330, 53%, 77%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(255, 86%, 67%, 1) 0%, hsla(330, 53%, 77%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(255, 86%, 67%, 1) 0%, hsla(330, 53%, 77%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8661F3", endColorstr="#e4a7c5", GradientType=1 );
}

.navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
}

.container {
    margin-top: 220px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 16px;
    color: #181818;
}

.navbar-expand-lg .navbar-collapse {
    padding-bottom: 4px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 80px;
}

@media only screen and (max-width: 768px) {

    .container {
        margin-top: 120px;
    }
}    