*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin-top: 0px;
    padding: 0px;
    font-family: poppins;
}
#blogDetail{
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
        padding: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
/* -----Blog Heading----- */
.blog-heading{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}
/* .blog-heading span{
    color: blue;
} */
.blog-heading h3{
    font-size: 2.4rem;
    color: black;
    font-weight: 600;
}

/* ---blog-headingright--- */
.blog-heading-right{
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
}
.blog-heading-right h3{
    font-size: 1.4rem;
    color: rgb(183, 174, 174);
    font-style: normal;
    font-weight: 600;
    align-content: right;
    text-align: right;
}
/* ------------------------------------------- */
#blogDetail2{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-img{
    height: auto;
    border-radius: 10rem;
}
.blog-img img{
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    margin-left: 10rem;
    margin-right: 12rem; 
}
.blog-text{
    margin-left: 12rem;
    margin-right: 14rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    margin-bottom: 10px;
}
.blog-text h1{
    margin-bottom: 18px;
}

/* ---------------------------------TableCT----------------- */
.tableCT1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 12rem;
    margin-right: 14rem;
    padding: 25px 10px 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
    font-family: 'Poppins',sans-serif;
}
.tableCT1 .tablename1{
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;

}
.tableCT1 .tablecontent{
    margin-left: 5rem;
}
li{
    margin-top: 1px;
    margin-bottom: 2rem;
    color: dodgerblue;
}

.visionForChal{
    margin-bottom: 2rem;
}
.visionForChal h2{
    margin-left: 12rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.visionForChal1{
    margin-left: 14rem;
    margin-right: 14rem;
}

.useCaseForChal{
    margin-bottom: 2rem;
}
.useCaseForChal h2{
    margin-left: 12rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.useCaseForChal1{
    margin-left: 14rem;
    margin-right: 14rem;
}
.howToUse{
    margin-bottom: 2rem;

}


.howToUse h2{
    margin-left: 12rem;
    margin-bottom: 1rem;
    border-radius: 10px;

}

.howToUse1{
    margin-left: 14rem;
    margin-right: 14rem;
}
.leaderboard h2{
    margin-left: 0rem;
}

.whatUsersDo{
    margin-bottom: 2rem;
}
.whatUsersDo h2{
    margin-left: 12rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.whatUsersDo1{
margin-left: 14rem;
margin-right: 14rem;
}

.futurePlan{
    margin-bottom: 2rem;

}
.futurePlan h2{
    margin-left: 12rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.futurePlan1{
    margin-left: 14rem;
margin-right: 14rem;

}

.futurePlan .list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 58px;
    margin-left: 0rem;
}
.futurePlan .list .list1{
    color: black;
}



/* Header section */
.blog-header{
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;

}
.blog-header1{
    display: flex;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-align: center;
    align-items: center;
}
.logo-link{
    margin-right: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-size: large;
    margin-left: 8rem;
}
.logo-text{
    font-family: poppins,sans-serif;
    color: #000;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
}
.gap{
    height: 1px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.blog-header2{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.text-block{
    font-family: 'Open Sans',sans-serif;
    color: #616161;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
    margin-right: 4rem;
}

.join-free{
    margin-right: 8rem;
    margin-left: 13px;
    padding: 16px 20px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 18px 36px;
    border-radius: 5px;
    background-color: #2a67f4;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
/* .separate{
    height: 1px;
    background-color: #e0e0e0;
} */

/* Figures in between Blogdetails page */
.fig1 img{
    height: 480px;
    width: 480px;
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left: 25rem;
    margin-right: 12rem;
    border-radius: 10px;
}

/* Footer */

footer {
    background-color: #8661F3;
    padding: 21px;
}

.footer-info {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: space-evenly;
}

.footer-app {
    color: #FFF;
    width: 25%;
}

.footer-app > div {
    font-weight: 600;
    font-size: 40px;
}

.footer-app  > p {
    font-weight: 400;
    font-size: 16px;
}

.footer-links {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: space-evenly;
    color: #FFF;
    width: 50%;
}

.footer-link-item > span {
    font-weight: 600;
    font-size: 24px;
}

.footer-link-item > ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-link-item > ul > li {
    padding: 5px 0;
}

.footer-link-item > ul > li > a {
    font-weight: 400;
    font-size: 16px;    
    text-decoration: none;
    color: #FFF;
}

.footer-subscript {
    width: 25%;
    color: #FFF;
}

.footer-subscript > span {
    font-weight: 600;
    font-size: 24px;    
}

.footer-subscript > div.faq-send-custom-input {
    position: relative;
    margin-top: 40px;
}

.footer-subscript > div.faq-send-custom-input > input {
    border: 2px solid #C9B0FD;
    border-radius: 50px;
    width: 90%;
    height: 42px;
    padding: 18px;
}

.footer-subscript > div.faq-send-custom-input > button {
    position: absolute;
    background: #8661F3;
    border-radius: 89.3939px;
    padding: 5px 12px;
    color: #fff;
    border: 1px solid;
    right: 11%;
    top: 3px;
}

.footer-copyright {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.faq-send.faq-send-mobile {
    display: none;
}
