.metrics-section {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.metrics-section > div {
    width: 50%;
}

.metrics-section > div:nth-child(2) > img {
    width: 100%;
}

.metrics-section-info > p:first-child {
    font-weight: 600;
    font-size: 48px;
}

.metrics-section-info > p:nth-child(2) {
    font-weight: 400;
    font-size: 20px;
    color: #777777;
}

.metrics-section-info > p > span {
    background: linear-gradient(90deg, hsla(255, 86%, 67%, 1) 0%, hsla(330, 53%, 77%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(255, 86%, 67%, 1) 0%, hsla(330, 53%, 77%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(255, 86%, 67%, 1) 0%, hsla(330, 53%, 77%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.metrics-section-info > button {
    align-items: center;
    padding: 15px 20px;
    width: 159px;
    height: 60px;
    background: #8661F3;
    border-radius: 16px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid;
}

.metrics-figure {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1), inset 4px 4px 25px rgba(134, 97, 243, 0.15);
    border-radius: 16px;
    height: 143px;
    padding: 17px 0;
    margin-top: 80px;
}

.metrics-figure > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25%;
}

.metrics-figure > div:not(:last-child) {
    border-right: 1px solid #C3C3C3;
}

.metrics-figure > div > span:first-child {
    font-weight: 600;
    font-size: 48px;
    color: #8661F3;
}

.metrics-figure > div > span:last-child {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.how-it-works-section {
    background-image: url("../media/images/how-it-works-bg.png");
    text-align: center;
    margin-top: 80px;
}

.how-it-works-header  > span {
    font-weight: 600;
    font-size: 40px;
}

.how-it-works-header > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.step {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin-top: 30px;
}

.step > div {
    width: 50%;
}

.step-number {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.step-number-image {
    height: 72px;
}

.step-number > div {
    text-align: left;
    margin-left: 18px;
}

.step-number > div > span {
    display: block;
}

.step-image > img {
    width: 60%;
}

.step-header {
    font-weight: 600;
    font-size: 24px;
}

.step-detail {
    font-weight: 400;
    font-size: 20px;
}

.testimonial-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.testimonial-section {
    margin-top: 40px;
    text-align: center;
}

.testimonial-section > span {
    font-weight: 600;
    font-size: 40px;
}

.testimonial-card {
    box-shadow: 0px 4px 30px rgba(134, 97, 243, 0.15);
    border-radius: 16px;
    padding: 10px 20px;
    text-align: left;
    height: 360px;
}

.testimonial-card-header {
    font-weight: 600;
}

.testimonial-card-feedback {
    margin-top: 10px;
    margin-bottom: 0;
}

.feature-section {
    background: #F27F66;
    border-radius: 16px;
    height: 276px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: space-evenly;
    margin-top: 80px;
}

.feature-section > div,
.feature-section > img {
    width: 50%;
}

.feature-section > div {
    padding: 30px 28px;
}

.feature-section > div > span {
    font-weight: 600;
    font-size: 40px;
    color: #FFF;
    display: block;
    margin-bottom: 20px;
}

.feature-section > div > a {
    font-weight: 400;
    font-size: 24px;
    color: #FFF;
}

.faq-section {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: space-evenly;
    margin-top: 80px;
}

.faq-section > div {
    width: 50%;
}

.faq-send > span {
    font-weight: 600;
    font-size: 24px;
    display: block;
}

.faq-send > div.faq-send-custom-input {
    position: relative;
    margin-top: 40px;
}

.faq-send > div.faq-send-custom-input > input {
    border: 2px solid #C9B0FD;
    border-radius: 50px;
    width: 90%;
    height: 61px;
    padding: 18px;
}

.faq-send > div.faq-send-custom-input > button {
    position: absolute;
    background: #8661F3;
    border-radius: 89.3939px;
    padding: 13.4091px 17.8788px;
    color: #fff;
    border: 1px solid;
    right: 11%;
    top: 4px;
}

.faq-send > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.faq-list-items-container {
    margin-top: 20px;
}

.faq-list-item {
    height: 50px;
    border-bottom: 1px solid #C4C4C4;
    padding-top: 10px;
}

.faq-list-item > img {
    float: right;
    cursor: pointer;
}

.download-section {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: space-evenly;
    margin-top: 80px;
}

.download-section > img {
    width: 50%;
}

.download-section > div {
    margin: auto;
}

.download-section > div > span {
    font-weight: 600;
    font-size: 40px;
    display: block;
    margin-bottom: 40px;
}

footer {
    background-color: #8661F3;
    padding: 21px;
}

.footer-info {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: space-evenly;
}

.footer-app {
    color: #FFF;
    width: 25%;
}

.footer-app > div {
    font-weight: 600;
    font-size: 40px;
}

.footer-app  > p {
    font-weight: 400;
    font-size: 16px;
}

.footer-links {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: space-evenly;
    color: #FFF;
    width: 50%;
}

.footer-link-item > span {
    font-weight: 600;
    font-size: 24px;
}

.footer-link-item > ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-link-item > ul > li {
    padding: 5px 0;
}

.footer-link-item > ul > li > a {
    font-weight: 400;
    font-size: 16px;    
    text-decoration: none;
    color: #FFF;
}

.footer-subscript {
    width: 25%;
    color: #FFF;
}

.footer-subscript > span {
    font-weight: 600;
    font-size: 24px;    
}

.footer-subscript > div.faq-send-custom-input {
    position: relative;
    margin-top: 40px;
}

.footer-subscript > div.faq-send-custom-input > input {
    border: 2px solid #C9B0FD;
    border-radius: 50px;
    width: 90%;
    height: 42px;
    padding: 18px;
}

.footer-subscript > div.faq-send-custom-input > button {
    position: absolute;
    background: #8661F3;
    border-radius: 89.3939px;
    padding: 5px 12px;
    color: #fff;
    border: 1px solid;
    right: 11%;
    top: 3px;
}

.footer-copyright {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.faq-send.faq-send-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {

    .container {
        margin-top: 120px;
    }

    .metrics-section > div {
        width: 100%;
    }

    .metrics-section {
        flex-direction: column;
        text-align: center;
    }

    .metrics-section-info > p:nth-child(2) {
        font-size: 14px;
    }

    .metrics-section-info > button {
        font-size: 14px;
        width: 94.77px;
        height: 35.08px;
        padding: 6px 11.384px;
    }

    .metrics-section > div:nth-child(2) {
        order: -1;
    }

    .metrics-figure {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: none;
        border-radius: unset;
        gap: 20px;
        margin-top: 40px;
    }

    .metrics-figure  > div {
        flex-basis: 47%;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1), inset 4px 4px 25px rgba(134, 97, 243, 0.15);
        border-radius: 16px;
    }

    .metrics-figure > div:not(:last-child) {
        border-right: 0;
    }

    .metrics-figure > div > span:first-child {
        font-size: 32px;
    }

    .metrics-figure > div > span:last-child {
        font-size: 12px;
    }

    .how-it-works-header > span {
        font-size: 24px;
    }
      
    .how-it-works-section {
        margin-top: 160px;
    }

    .how-it-works-header > p {
        font-size: 14px;
    }

    .how-it-works-header > p > br {
        display: none;
    }

    .step-header {
        font-size: 20px;
    }

    .step-detail {
        font-size: 12px;
    }

    .step {
        flex-direction: column;
    }

    .step > div {
        width: 100%;
    }

    .step-image > img {
        width: 100%;
        height: 250px;
    }

    .step > .step-image {
        order: -1;
    }

    .how-it-work-steps > .step:nth-child(2) > .step-image,
    .how-it-work-steps > .step:nth-child(1) > .step-image {
        margin-bottom: 20px;
    }

    .testimonial-section > span {
        font-size: 24px;
    }

    .testimonial-card-container {
        flex-direction: column;
    }

    .testimonial-card {
        height: 360px;
    }

    .testimonial-card-container > .testimonial-card:nth-child(2),
    .testimonial-card-container > .testimonial-card:nth-child(3) {
        display: none;
    }

    .feature-section > div > a,
    .feature-section > div > span {
        font-size: 14px;
    }

    .feature-section > div > span br {
        display: none;
    }

    .feature-section > div, .feature-section > img {
        width: 60%;
    }

    .feature-section {
        height: 176px;
        margin-top: 40px;
    }

    .feature-section > div {
        padding: 20px;
    }

    .faq-list {
        order: -1;
    }

    .faq-list > img {
        width: 90%;
    }

    .faq-section {
        flex-direction: column;
    }

    .faq-section > div {
        width: 100%;
        margin-top: 24px;
    }

    .faq-list-item {
        font-size: 12px;
        height: 45px;
    }

    .faq-list-item > img {
        width: 15px;
    }
    
    .faq-send.faq-send-desktop {
        display: none;
    }

    .faq-send.faq-send-mobile {
        display: flex;
    }

    .faq-send {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;        
    }

    .faq-send-email > span {
        font-weight: 600;
        font-size: 14px;
        display: block;
    }
    
    .faq-send-email > div.faq-send-custom-input {
        position: relative;
        margin-top: 40px;
    }
    
    .faq-send-email > div.faq-send-custom-input > input {
        border: 2px solid #C9B0FD;
        border-radius: 50px;
        width: 90%;
        padding: 18px;
        height: 34px;
        font-size: 12px;
    }
    
    .faq-send-email > div.faq-send-custom-input > button {
        position: absolute;
        background: #8661F3;
        border-radius: 89.3939px;
        color: #fff;
        border: 1px solid;
        right: 11%;
        top: 4px;
        height: 32px;
        font-size: 10px;
        padding: 8px 16px;
    }

    .faq-send img {
        order: -1;
        width: 94px;
        height: 141px;
    }

    .download-section {
        flex-direction: column;
    }

    .download-section > div {
        order: -1;
        text-align: center;
    }

    .download-section > img {
        width: 100%;
    }

    .footer-info {
        flex-direction: column;
    }

    .footer-subscript,
    .footer-links,
    .footer-app {
        width: 100%;
    }

    .footer-app {
        order: -1;
    }

    .footer-subscript {
        order: 0;
    }

    .footer-links {
        order: 1;
    }

    .footer-subscript > span > br,
    .footer-app > p > br {
        display: none;
    }

    .footer-subscript > div.faq-send-custom-input {
        margin-bottom: 20px;
    }

    .footer-links > .footer-link-item:nth-child(2) {
        text-align: center;
    }
}